<%= link_to root_path do %>
  <i class="fa-solid fa-house fa-lg"></i>
<% end %>
<% if user_signed_in? %>
  <%= link_to user_path(current_user) do %>
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar.variant(resize_to_limit: [50, 50]), alt: "ユーザーのアバター画像" if current_user.avatar.present? %>
    <% else%>
      <%= image_tag "default_image_user.jpg", size: "50x50", alt: "デフォルトのアバター画像" %>
    <% end %>
  <% end %>
  <p><%= button_to "ログアウト", destroy_user_session_path, method: :delete %></p>
<% else %>
  <p><%= link_to "ログイン", new_user_session_path %></p>
  <p><%= link_to "新規登録", new_user_registration_path %></p>
  <p><%= button_to "ゲストログイン", users_guest_sign_in_path, method: :post %></p>
<% end %>
