<nav class="navbar navbar-expand-md bg-displaydish">
  <div class="container py-1 px-4">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-house fa-xl"></i>
    <% end %>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "組み合わせ", selections_display_selection_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "食材一覧", ingredients_path, class: "nav-link" %>
        </li>
      </ul>
      <%= link_to user_path(current_user), class: "nav-link" do %>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar.variant(resize_to_limit: [50, 50]), class: "rounded-circle", alt: "ユーザーのアバター画像" if current_user.avatar.present? %>
        <% else %>
          <%= image_tag "default_image_user.jpg", size: "50x50", class: "rounded-circle", alt: "デフォルトのアバター画像" %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
<div class="px-3 py-2 border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-end">
    <div class="nav">
      <p><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %></p>
    </div>
  </div>
</div>
