<% if display_dish.present? %>
<p>
  出来上がった料理
  <%= display_dish.name %>
  <!-- Button Torriger Modal -->
  <% if display_dish.image.attached? %>
      <button class="btn" data-bs-toggle="modal" data-bs-target="#Modal-<%= display_dish.name %>">
        <%= image_tag display_dish.image.variant(resize_to_limit: [135, 165]), alt: "#{display_dish.name}の画像" %>
      </button>
  <% end %>
  <!-- Modal -->
  <div class="modal fade" id="Modal-<%= display_dish.name %>" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">詳細</h5>
          <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
          <p>名前：<%= display_dish.name %></p>
          <p>テキスト：<%= display_dish.flavor_text %></p>
          <% if have_effect_ingredient.present? %>
            <p><%= have_effect_ingredient.cooking_effect %></p>
          <% end %>
        </div>
        <div class="modal-footer">
          <p>Footer</p>
        </div>
      </div>
    </div>
  </div>

  <%= display_dish.flavor_text %>
  <% if have_effect_ingredient.present? %>
    <%= have_effect_ingredient.cooking_effect %>
  <% end %>
</p>
<% end %>
