<div class="py-3 mx-4 mx-sm-none">
  <div class="container rectangles border rounded py-4">
    <h4 class="mb-5">パスワードを忘れましたか？</h4>
    <%= form_with model: @user, url: user_password_path, method: :post, id: "new_user", class: "new_user", local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-floating mb-5">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "example@example.com" %>
        <%= f.label :email %>
      </div>
      <div class="text-center">
        <div class="actions">
          <%= f.submit "パスワードの再設定方法を送信する", class: "btn btn-sm btn-outline-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
