<div class="container p-4 d-flex justify-content-center">
  <div class="bg-ingredient w-75 border rounded p-md-5 p-2">
    <div class="row">
      <div class="col-lg-auto d-flex align-items-center justify-content-center">
        <% if @ingredient.image.attached? %>
          <%= image_tag @ingredient.image.variant(resize_to_limit: [97, 97]), alt: "#{@ingredient.name}の画像" if @ingredient.image.present? %>
        <% end %>
      </div>
      <div class="col-lg">
        <div class="text-center fs-4 py-2"><%= @ingredient.name %></div>
        <div class="d-md-flex d-block justify-content-evenly py-sm-3 py-1">
          <div class="text-body-secondary text-center fs-6">
            カテゴリ：<%= @ingredient.category.name %>
          </div>
          <% if @ingredient.cooking_effect.present? %>
            <div class="text-body-secondary text-center fs-6">
              料理時効果：<%= @ingredient.cooking_effect %>
            </div>
          <% end %>
        </div>
        <div class="card-text px-md-5 py-1"><%= @ingredient.flavor_text %></div>
      </div>
    </div>
    <% if @recipe_category.present? %>
      <hr>
      <div class="row d-flex justify-content-center align-items-center pb-4" id="introduction-cooking-recipe">
        <h6 class="text-center pb-3">料理レシピ紹介</h6>
        <h5 class="col-sm-auto text-center">
          <%= @ingredient.category.name %>
        </h5>
        <h3 class="col-sm-auto text-center">+</h3>
        <h5 class="col-sm-auto text-center">
          <%= @recipe_category.name %>
        </h5>
        <h3 class="col-lg-auto text-center px-3">
          <span class="d-lg-inline-block d-none pt-1">→</span>
          <span class="d-lg-none d-block py-3">↓</span>
        </h3>
        <div class="col-lg-auto text-center">
          <% if @recipe_dish.image.attached? %>
            <%= image_tag @recipe_dish.image.variant(resize_to_limit: [80, 80]), class: "rounded", alt: "料理レシピの#{@recipe_dish.name}の画像" if @recipe_dish.image.present? %>
          <% else %>
            <%= image_tag "test_sample.jpg", size: "80x80", class: "rounded-circle", alt: "料理レシピの料理サンプル画像" %>
          <% end %>
          <h6><%= @recipe_dish.name %></h6>
        </div>
      </div>
    <% end %>
    <p>
      <%= link_to :back, class: "link-with-icon" do %>
        戻る<i class="fa-solid fa-chevron-right"></i>
      <% end %>
    </p>
  </div>
</div>
