<div class="container">
  <%= render "selections/shared/select_ingredients", select_ingredients: @select_ingredients %>
  <%= render "selections/shared/display_dish", { display_dish: @display_dish, have_effect_ingredient: @have_effect_ingredient} %>

  <%= form_with url: selections_calculate_dishes_path, method: :post, local: true do |f| %>
    <p>
      <h4>食材選び</h4>
      <p><%= f.submit "料理する" %></p>
    </p>

    <!-- カテゴリ選択タブ -->
    <select class="form-select" id="category-select">
      <option value="">--カテゴリを選ぶ--</option>
      <% @category_ingredients.each_with_index do |category, i| %>
        <option value="<%= i + 1 %>"><%= category.name %></option>
      <% end %>
    </select>

    <div class="row">
      <% @category_ingredients.each do |category| %>
        <% category.ingredients.each do |ingredient| %>
          <div class="col-2 m-1 border" id="ingredients-container" data-category="<%= category.id %>" style="max-width: 200px;" role="tabpanel">
            <!-- Toggle Button Modal -->
            <% if ingredient.image.attached? %>
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Modal-<%= ingredient.name %>">
                <%= image_tag ingredient.image.variant(resize_to_limit: [60, 60]), alt: "#{ingredient.name}の画像" %>
              </button>
            <% end %>
            <!-- Modal -->
            <div class="modal fade" id="Modal-<%= ingredient.name %>" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">詳細</h5>
                    <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                  </div>
                  <div class="modal-body">
                    <p>名前：<%= ingredient.name %></p>
                    <p>テキスト：<%= ingredient.flavor_text %></p>
                    <% if ingredient.cooking_effect.present? %>
                      <p><%= ingredient.cooking_effect %></p>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <p>Footer</p>
                  </div>
                </div>
              </div>
            </div>

            <%= f.check_box :ingredient_ids, { multiple: true, include_hidden: false, class: "btn-check", id: "#{ingredient.name}" }, ingredient.id, nil %>
            <%= f.label "check", class: "btn btn-outline-success btn-sm", for: "#{ingredient.name}" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
