<div class="container py-4">
  <div class="form-edit">
    <%= render "layouts/shared/error_messages", model: @post %>
    <div class="bg-displaydish rounded p-3">
      <%= form_with model: @post, local: true do |f| %>
        <%= f.hidden_field :dish_id, value: @post.dish_id %>
        <div class="pb-4">
          <%= f.label :title, class: "form-label fw-bold" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="pb-4">
          <%= f.label :body, class: "form-label fw-bold" %>
          <%= f.text_area :body, class: "form-control", rows: 3 %>
        </div>
        <div class="pb-3">
          <%= f.submit "編集する" %>
        </div>
      <% end %>
      <div>
        <%= link_to "投稿を削除する", post_path(@post.id, dish_id: @post.dish_id), data: { turbo_method: :delete, turbo_confirm: "投稿を削除しますか?" }, class: "delete-icon" %>
      </div>
    </div>
  </div>
</div>
