<div class="container">
  <%= render "layouts/shared/error_messages", model: @post %>
  <%= form_with model: @post, local: true do |f| %>
    <div>
      <%= f.hidden_field :dish_id, value: @post.dish_id %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div>
      <%= f.submit "投稿する" %>
    </div>
  <% end %>
</div>
